version: '3.8'

services:
  telegram-bot:
    build: .
    # Image name to be used for the built image. Can be overridden via IMAGE_NAME env var.
    image: "${IMAGE_NAME:-telegram-sales-bot:latest}"
    container_name: telegram-sales-bot
    restart: always
    env_file:
      - .env
    environment:
      # These will be read from .env if present; you can override here as well
      - BOT_TOKEN
      - BANK_ACCOUNT
      - BANK_CODE
      - DB_NAME=/app/sql3lite/sales.db
    volumes:
      - report-data:/app/report  # đồng bộ folder report ra host
      - sqlite3-data:/app/sqlite3      # mount folder to store sqlite DB
    network_mode: "bridge"
volumes:
  report-data:
  sqlite3-data:
logging:
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

